@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Company description
        4.3 Case studies
        4.4 Services
        4.5 Contact us
        4.6 Footer
////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --paars: #5722CD;
    --blauw: #4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtpaars: #F2F0FF;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;
    --wit: #FFF;
}

/* ------------------------------- 2. Typography ----------------------------------- */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
}

.contact-us h2 {
    color: var(--wit);
    font-size: 2.3rem;
}

@media screen and (max-width: 600px) {
    .contact-us h2 {
        font-size: 1.7rem;
    }
}

h2, h3 {
    color: var(--paars);
}

li a {
    color: var(--wit);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    li a {
        font-size: 0.9rem;
    }
}

header {
    color: var(--wit);
}

header p {
    font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
    header p {
        font-size: 1rem;
    }
}

.description p {
    font-family: 'Merriweather', serif;
    color: var(--paars);
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .description p {
        font-size: 0.9rem;
    }
}

a {
    color: var(--paars);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .case-studies p {
        font-size: 0.9rem;
    }
}

.services p {
    color: var(--grijs);
    font-size: 0.9rem;
}

.contact-us p {
    color: var(--wit);
}

@media screen and (max-width: 600px) {
    .contact-us p {
        font-size: 0.9rem;
    }
}

label {
    color: var(--wit);
}

@media screen and (max-width: 600px) {
    label {
        font-size: 0.9rem;
    }
}

::placeholder {
    color: var(--grijs);
}

@media screen and (max-width: 600px) {
    footer p {
        font-size: 0.7rem;
    }
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner-container {
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 25px;
}

button {
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--roze);
    box-shadow: 5px 10px 15px -10px var(--zwart);
    font-family: inherit;
    color: var(--wit);
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 35%);
    position: relative; /* to give .header-bevel a reference point */ 
    padding-bottom: 100px; /* to push .header-bevel down */
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}

@media screen and (max-width: 600px) {
    nav {
        justify-content: center;
    }
}

ul {
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 0;
}

@media screen and (max-width: 600px) {
    .introduction {
        padding: 60px 0;
    }
}

h1 {
    max-width: 600px;
    text-align: center;
}

header p {
    text-align: center;
}

header img {
    position: absolute;
    bottom: 0;
    left: calc(50% - 39.5px);
}

.header-bevel {
    border-top: 50px solid transparent;
    border-left: 100vw solid var(--wit);
    position: absolute;
    top: calc(100% - 50px);
}

/* --------------- 4.2 Company description ------------------- */

.company-description {
    position: relative;
    background-color: var(--wit);
    margin-top: -1px;
    padding-bottom: 25px; /* to push .company-description-bevel down */
}

.company-description .inner-container {
    flex-basis: 700px;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    padding: 80px 0;
}

.company-description .inner-container::after {
    content: "hello";
    font-size: 20rem;
    font-weight: 700;
    text-align: center;
    color: var(--lichtpaars);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

@media screen and (max-width: 600px) {
    .company-description .inner-container::after {
        font-size: 9rem;
    }
}    

.description-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.company-description-bevel {
    border-top: 50px solid transparent;
    border-left: 100vw solid var(--lichtgrijs);
    position: absolute;
    top: calc(100% - 50px);
}

/* --------------- 4.3 Case studies ------------------- */

.case-studies {
    background-color: var(--lichtgrijs);
    position: relative; /* to give .case-studies-bevel a reference point */
    z-index: 10;
}

.case-studies .inner-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 170px 0 100px 0;
}

@media screen and (max-width: 600px) {
    .case-studies .inner-container {
        gap: 0;
        padding: 100px 0 60px 0;
    }
}

.case-studies .inner-container::after {
    content: "work";
    font-size: 20rem;
    font-weight: 700;
    text-align: center;
    color: var(--wit);
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    z-index: -10;
}

@media screen and (max-width: 600px) {
    .case-studies .inner-container::after {
        font-size: 8rem;
        top: 0;
    }
}

.case-studies article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .case-studies article {
        flex-direction: column-reverse;
    }
}

.case-studies article:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
    .case-studies article:nth-child(even) {
        flex-direction: column-reverse;
    }
}

.project {
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .project {
        flex-basis: 0;
        padding: 20px 0;
    }
}

.case-studies h2::after {
    content: url("./assets/squiggle_line.svg");
    display: block;
}

.project-link {
    text-transform: uppercase;
}

.image-wrapper img {
    width: 100%;
    box-shadow: 5px 10px 15px -10px var(--zwart);
}

.image-wrapper {
    flex-basis: 700px;
    flex-grow: 0;
    flex-shrink: 1;
}

@media screen and (max-width: 600px) {
    .image-wrapper {
        flex-basis: 0;
    }
}

.case-studies-bevel {
    border-top: 50px solid transparent;
    border-left: 100vw solid var(--wit);
    position: absolute;
    top: calc(100% - 50px);
}

/* --------------- 4.4 Services ------------------- */

.services {
    position: relative;
    padding-bottom: 25px;
}

.services .inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 170px 0 100px 0;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    .services .inner-container {
        padding: 40px 0;
    }
}

.services .inner-container::after {
    content: "services";
    font-size: 15rem;
    font-weight: 700;
    text-align: center;
    color: var(--lichtpaars);
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: -10;
}

@media screen and (max-width: 992px) {
    .services .inner-container::after {
        font-size: 11rem;
    }

    @media screen and (max-width: 600px) {
        .services .inner-container::after {
            font-size: 5rem;
        }
    }
}

.services article {
    flex-basis: 325px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 25px;
    border: 1px solid var(--grijs);
    background-color: var(--wit);
}

.services img {
    width: 25%;
}

.services h3 {
    margin-top: 5px;
}

.services p {
    margin-top: 20px;
}

.services-bevel {
    border-top: 50px solid transparent;
    border-left: 100vw solid var(--blauw);
    position: absolute;
    top: calc(100% - 50px);
}

/* --------------- 4.5 Contact us ------------------- */

.contact-us {
    background-color: var(--blauw);
    text-align: center;
    margin-top: -1px;
}

.contact-us .inner-container {
    padding: 75px 0 60px 0;
    flex-basis: 700px;
}

@media screen and (max-width: 600px) {
    .contact-us .inner-container {
        padding: 60px 0; 
    }
}

.contact-us p {
    margin-top: 30px;
}

form {
    text-align: left;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input {
    display: block;
    width: 100%;
    padding: 20px;
}

textarea {
    border: none;
    display: block;
    width: 100%;
    padding: 20px;
}

.contact-us button {
    width: 175px;
    margin: 10px auto 0 auto;
}

/* --------------- 4.6 Footer ------------------- */

footer {
    background-color: var(--zwart);
    color: var(--wit);
    text-align: center;
    padding: 20px;
}